#title{
    position: absolute;
    color: white;
}

#image{
    width: 100%;
    height: 100%;
}

#title_banner{
    background-image: url("../images/cda-interview-guide.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    z-index: -1;
}

#nav{
    z-index: 0;
}
